@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700;900&display=swap');



*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(178.87deg, rgba(0, 0, 0, 0.7) 0.4%, rgba(13, 15, 32, 0.7) 50.29%, rgba(1, 4, 22, 0.7) 99.15%),
    linear-gradient(0deg, #000211, #000211);
}

.container {
    width: 1170px;
    margin: 0 auto;
    color: red;
}

